body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0%;
    background-color: #7700ff;
    
    
}

p a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
    
}

p a:hover{
    color:white;
}

header{
    display:flex;
    align-items: center;
    background-color: 7700ff;
    min-height: 70px;
    justify-content: space-around;
   
}   

h1{
    background-color: #7700ff;
    border-style:solid;
    border-left: none;
    border-right: none;
    border-color: rgb(255, 255, 255);
    align-items: center;
    justify-content:center;
    display:flex;
    color: white;
    
  
}

section{
    
    align-items: center;
    justify-content: center;
    display:inline-flex;
}

.img{
    width: 10vw; 
}

article{
    margin: 40px;
    flex-direction: center;
    align-items: center;
    padding: 25px;
    background-color: rgb(255, 153, 0);
    border-radius: 5px;

}

h3{
    color: white;
}
h3:hover{
    color:#7700ff;
}


.logo{
    width: 60px;
    height: 60px;
    margin: left 10px;
}