body{
    font-family: serif;
    margin:0%;
    background-color: #7700ff;
    
    
}

header{
    display:flex;
    align-items: center;
    background-image: linear-gradient(90deg, #7700ff 70%, #ec8c69 90%);
    min-height: 70px;
    justify-content: space-around;
   
}   

.boton{
    background-color: #7700ff;
    border: #7700ff;
}
input{
    background-color: #7700ff;
    border-radius: 50px;
    border: solid;
    border-color: #d44ff5;
    
}


h1{
    background-color: #7700ff;
    border-style:solid;
    border-left: none;
    border-right: none;
    border-color: rgb(255, 255, 255);
    align-items: center;
    justify-content:center;
    display:flex;
    color: white;
    
  
}

section{
    
    align-items: center;
    justify-content: center;
    display:inline-flex;
}

article{
    margin: 50px;
    flex-direction: center;
    align-items: center;
    padding: 30px;
    background-color: black;
    border-radius: 5px;

}

h3{
    color: white;
}
h3:hover{
    color:black;
}

.logo{
    width: 60px;
    height: 60px;
    margin: left 10px;
}

p a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
    
}

p a:hover{
    color:white;
}

@media (max-widht:420px){
    header{
        flex-direction: column;

    }

    p a{
        padding: 10px 0px;
    }
}